.body {
    background-image: url(../images/Background/back2.jpeg);
    background-size: cover;
}

.header {
    /* border: 2px solid rgb(255, 255, 255); */
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgba(83, 36, 192, 0);
}

.samp {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.samp:hover {
    cursor: pointer;
    color: green;
    background-color: white;
}

.footer {
    /* border: 2px solid rgb(255, 255, 255); */
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgba(83, 36, 192, 0);
    position: relative;
}

.footer-items {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    height: 400px;
    width: 460px;
    border: 3px solid white;
    margin: 20px;
    transition: transform 1s;
}

.image:hover {
    cursor: pointer;
    transform: matrix(1);
}